@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.homepage{
    color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   

}

.nav-link{
    color:#1C1C1C !important;
   
}
.nav-link :hover{
    color:#00AA00 !important;
    font-weight: 700!important;
}
.nav-row{
    margin-left: 100px!important;
    margin-right: 100px!important;
    background-color: transparent;

}
#secondarybutton{
    /* padding: 10px; */
    color:white;
    background-color:#FF2761 ;
    border-radius: 6px;
    height: 35px!important;

}
#primarybutton{
    /* padding: 10px; */
    color:white;
    background-color:#00AA00 ;
    border-radius: 6px;
    width: 110px!important;
    
}
#primarybutton:hover{
    /* padding: 10px; */
    color:white;
    background-color:#003B00;
    font-size: 16px;
    border-radius: 6px;
    width: 110px!important;
    
}
#outlinebutton,betterhealth{
    /* padding: 10px; */
    color:#00AA00;
    border: 1px solid #00AA00;
    border-radius: 6px;
   
    
   
}
#outlinebutton:hover{
    /* padding: 10px; */
    color:#003B00;
    border:2px solid #003B00;
    border-radius: 6px;
   
    background-color: white;
   
}
.herobg{
    background-image: url("bgherohome.png");
    background-repeat: no-repeat;
}
/* Hero section */
.hero-row{
    margin-left: 90px!important;
    margin-right: 150px!important;
}
.t1{
    margin-bottom: -30px!important;
}
#heroimage{
    margin-left: -170px;
    margin-top: -50px !important;
    margin-bottom: -120px;
    
}
#subheadline{
    font-size: 16px;
    color:#1C1C1C;
}
.title-col {
    padding-bottom: 40px;
}
.m-title-1{
    color:#59C859 !important;
    font-size: 16px !important;
    margin-top: 90px!important;
}
.m-title-2{
    color:white!important;
    font-size: 28px !important;
    font-weight: 700;
    
}
.menubg{
    background-color: #022F02;
    /* margin-right: -120px!important; */
}
.menu{
    margin-left: 80px!important;
    margin-right: 80px!important;
    padding-top: 100px!important;
    padding-bottom: 90px;
}
.card{
    border-radius: 10px !important;
    

}
.card:hover{
    border-radius: 10px !important;
    box-shadow: 0px 2px 8px 3px #5b5b5b!important ;

}
.smallpic{
    height: 217px!important;
}

.card-title-1{ 
    font-size: 14px !important;
    font-weight: 700;
    color:#1C1C1C ;
    width: 100% !important;
    margin-top: -10px!important;
    margin-bottom: 1px;
 
}

.card-title-2{ 
    font-size: 18px !important;
    color:#FF2761;
    font-weight: 600;
    margin-bottom: 1px;
 
}
.card-text{
    font-size: 12px;
    margin-bottom: 5px;
}

.smallbutton{
    color:white;
    background-color:#00AA00 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}
.smallbutton:hover{
    color:white;
    background-color:#003B00 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}
.card-img-top {
    border-radius: 10px 10px 0px 0px!important;
    height: 160px;
    object-fit: cover; 
}


/* Hero section */


/* today's discount */
/* .discountbg{
    background-color: #F8F8F8 !important;
}
.discount-row{
    margin-left: 80px!important;
    margin-right: 80px!important;
    padding-top: 40px!important;
    padding-bottom: 60px;
}
.discount{
    text-align: center;
}
 .todaydiscount-1{
    text-align: center !important;
    color: #022F02;
    font-size: 28px;
    font-weight: 700;

 }
 #todaydiscount-1{
    text-align: center;
    color: #1C1C1C;
    font-size: 16px;

 } */
 .bigcard{
    
    border-radius: 10px !important;
    border: none!important;
 }
 .bigcard:hover{
    border-radius: 10px !important;
    box-shadow: 100px!important;
    box-shadow: 0px 2px 8px 3px #959595!important ;
 }
 .bigpic{
    border-radius: 10px !important;
}
 .bigcardtitle-1{ 
    font-size: 16px !important;
    font-weight: 700;
    color:#1C1C1C ;
}
 .bigcardtitle-2{ 
    font-size: 20px !important;
    color:#FF2761 !important ;
    font-weight: 600;
}
.bigcardtext{
    font-size: 14px;

}

.bigbutton{
    color:white;
    background-color:#00AA00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}
.bigbutton:hover{
    color:white;
    background-color:#003B00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}
.bigpic {
    border-radius: 20px 20px 0px 0px!important;
    height: 260px!important;
    object-fit: cover; 
}


/* today's discount */

/* Top Dishes */
.topdishbg{
    background-color: white;
}
.topdish{
    text-align: center;
    font-size: 28px;
    color:#FF2761 ;
    font-weight: 700;
}
.title{
    text-align: left;
    font-size: 20px;
    font-weight: 700;

}
.textbutton{
    text-align: center !important;
    color:#00AA00 !important;
    font-size:18px;
    text-decoration: underline !important;
    font-weight: 700!important;

}
/* Top Dishes */


/* reservation */
.reserve-bg{
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px!important;
    margin-bottom: 90px;
}
.reserve-frame{
    background-image: url("reserve.png");
    height: 170px; 
    width:750px;
    border-radius:20px;
}
.reserve-title{
    font-size: 30px;
    color: #00AA00;
    justify-content: center !important;
    border-right:1px solid white !important;
    height: 100px;
}
.reserve-text{
    font-size: 16px;
    color:white;
}
/* reservation */

/* About us */
.about-row{
    margin-top: 90px!important;
    margin-bottom: 90px;
}
.about-img{
    margin-top: 90px!important;
    margin-bottom: 90px;
    margin-left: 90px;
}
.about-text{
    margin-left: 100px;
    /* margin-right: 50px; */
}
.about-us{
    color: #00AA00;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: -10px !important;
}
.title-text{
    font-size: 28px;
    font-weight: 800;

}
.about-body{
    font-size: 16px;

}
/* About us */

/* Customer review */
.reviewbg{
    background-color:white;

}
.review-row{
    margin-left: 80px!important;
    margin-right: 80px!important;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
}
.review-cardrow{
    padding-left: 100px!important;
    padding-right: 100px!important;
    padding-bottom: 60px;
}
.review-card:hover{
    border-radius: 20px !important;
    
}
.review-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 700;

}
.avatar{
    height: 65px;
    width:65px;
    text-align: left;
}
.rev-icon{
    padding-bottom: -20px !important;
    font-size: 40px;
    margin-top: -20px!important;
}
.rating{
    padding-top: 20px !important;
}
.rating-icon{
    height: 15px;
    width: 15px;
}
.review-title{
    padding-left: 1px;
}
.reviewer{
    font-size: 16px;
    color: #FF2761;
    font-weight: 500;

}
.post-date{
    font-size: 12px;
}
.testimonial{
    font-size: 16px;
}

/* Customer review */

/* Blog */
.blogbg{
    background-color:white;
}
.blog-row{
    margin-right: 90px!important;
    margin-left: 90px!important;
}
.blogm-1{
    font-size: 28px;
    font-weight: 700;  
    text-align: center !important;  
}
.blogm-2{
    font-size: 16px;
    color: #1C1C1C;  
    text-align: center !important;  

}
.blogimg-1{
    border-radius: 50%;
    height: 250px !important;
    width:250px!important;
    padding-left: 15px;
    margin: 25px;
}
.blog-title{
    font-size: 18px !important;
    font-weight: 700;
}
.blog-text{
    font-size: 14px;
}
/* Blog */

/* contact us */
#contactbg{
    background-color:#F8F8F8;
    padding-top:20px !important;
    padding-bottom:30px !important;
    
}
.contacthome{
    background-image: url("contactus_home.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px !important;
    margin-right: 50px!important;
    margin-left:100px !important;
    margin-top: 100px!important;
    margin-bottom: 100px!important;
    border-radius:20px;

}
.contact-title{
    font-size: 28px;
    font-weight: 600;
    color: #00AA00;
} 
.contact-text{
    font-size: 16px;
    color: white;
    
}
#outlinebutton-reserve{
    color:#DBEED3;
    border: 1px solid white !important;
}
.cta-button1{
    /* padding-left: 20px!important; */
    padding-right: 50px!important;
}
/* contact us */

/* Footer */

/* footer*/
.footerbg{
    border-top:1px solid #D9D9D9 !important;
    background-color: white;
}
.newsletter{
    border-bottom:1px solid #D9D9D9!important;
    margin-left: 130px !important;
    margin-right: 100px !important;
    padding-top: 60px;
    padding-bottom: 60px;

}
/* .newsletter-col{
    margin-left:120px!important;
    margin-right: 60px;
} */
.newsletter-title{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 600;
    text-align: left !important;
    padding-top: 10px !important;
}
.newsletter-text{
    font-size: 16px;
    color: #1C1C1C;
    text-align: left !important;
}
.email-input{
    height:35px !important;
    width: 300px !important;
}
.h8{
    font-size: 16px ;
    color: #00AA00;

}
.footer-text{
    font-size: 14px! important;
    color: #1C1C1C;
}
.card{
    box-shadow: 1px !important;
}
.bigbutton{
    color:white;
    background-color:#00AA00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}
/* footer*/

