@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.orderpage{
    color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
}
/* header */
.nav-link{
    font-size: 16px !important;
    color:#1C1C1C !important;
   
}
.nav-row{
    margin-left: 100px!important;
    margin-right: 100px!important;
}
.nav-link :hover{
    font-size: 16px;
    color:#00AA00 !important;
    font-weight: 700!important;
}
#secondarybutton{
    /* padding: 10px; */
    color:white;
    background-color:#FF2761 ;
    font-size: 16px;
    border-radius: 6px;
    height: 35px!important;

}
/* header */


/* order summary */
.order-bg{
    background-image: url("order_reserve_summary.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.order-form{
    
    background-color: white;
    border-radius: 20px;
    margin-left: 30px !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}
.order-row{
    padding-top: 80px!important;
    padding-bottom: 80px!important;
    margin-left: 100px!important;
    margin-right: 100px!important;
}
.food-row{
    border-bottom: 1px solid #D9D9D9;
   
}
.cust-details{
   
    font-style: italic;
}
/* order summary */







/* footer*/
.footerbg{
    border-top:1px solid #D9D9D9 !important;
    background-color: white;
}
.newsletter{
    border-bottom:1px solid #D9D9D9!important;
    margin-left: 130px !important;
    margin-right: 100px !important;
    padding-top: 60px;
    padding-bottom: 60px;

}
/* .newsletter-col{
    margin-left:120px!important;
    margin-right: 60px;
} */
.newsletter-title{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 600;
    text-align: left !important;
    padding-top: 10px !important;
}
.newsletter-text{
    font-size: 16px;
    color: #1C1C1C;
    text-align: left !important;
}
.email-input{
    height:35px !important;
    width: 300px !important;
}
.h8{
    font-size: 16px ;
    color: #00AA00;

}
.footer-text{
    font-size: 14px! important;
    color: #1C1C1C;
}
.card{
    box-shadow: 1px !important;
}
.bigbutton{
    color:white;
    background-color:#00AA00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}
/* footer*/