@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.orderpage{
    color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
}
/* header */
.nav-link{
    font-size: 16px !important;
    color:#1C1C1C !important;
   
}
.nav-link :hover{
    font-size: 16px;
    color:#00AA00 !important;
    font-weight: 700!important;
}
#secondarybutton{
    /* padding: 10px; */
    color:white;
    background-color:#FF2761 ;
    font-size: 16px;
    border-radius: 6px;
    height: 35px!important;

}
/* header */


/* order summary */
.order-bg{
    background-image: url("oder-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.food-details{
    color: white;
    font-size: 14px !important;
    padding-right: 50px!important;
}

/* order summary */

/* order form */
.order-form{
    width: 340px;
    background-color: white;
    border-radius: 20px;
    margin-left: 50px !important;
}
.label-text{
    font-size: 16px !important;
}
.placeholder-text{
    font-size: 14px;
    color: #595959 !important;
    background-color: #F8F8F8;
}
.primarybutton{
    /* padding: 10px; */
    color:white;
    background-color:#00AA00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
    border:none!important;
    width: 430px;
    
}
/* order form */





/* footer*/
.newsletter{
    border-bottom:1px solid #595959 !important;
    padding: 50px !important;
}
.newsletter-title{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 600;
    text-align: left !important;
    padding-top: 10px !important;
}
.newsletter-text{
    font-size: 16px;
    color: #1C1C1C;
    text-align: left !important;
}
.email-input{
    height:35px !important;
    width: 300px !important;
}
.h8{
    font-size: 16px ;
    color: #00AA00;

}
.footer-text{
    font-size: 14px! important;
    color: #1C1C1C;
}
.card{
    box-shadow: 1px !important;
}
.bigbutton{
    color:white;
    background-color:#00AA00 !important;
    font-size: 16px !important;
    border-radius: 6px !important;
}
/* footer*/